<div class="html-inner component-inner" role="region" aria-label="{{_globals._components._text.ariaRegion}}">
    {{> component this}}

    <div class="html-items">
        {{#each _items}}
        <div class="trickle-item nth-child-{{@index}}">
            <div class="trickle-item-inner">
                {{#if this.length}}
                    {{{a11y_text this.text}}}
                {{else}}
                <div class="html-item">
                  {{#if this.text}}
                    <div class="html-item-text">{{{a11y_text this.text}}}</div>
                  {{/if}}
                  {{#if this._graphic.src}}
                    <div class="html-item-graphic-holder">
                      <img class="html-item-graphic" src="{{this._graphic.src}}"></img>
                    </div>
                  {{/if}}
                    <!-- {{#each this}}
                    <div class="html-item-{{@key}}">{{{a11y_text this}}}</div>
                    {{/each}} -->
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    <div class='html-button'><button class='btn btn-html-trickle html-button'>Continue</button></div>
</div>
